@using poolprobase.Web.Models.Common.Modals
@model poolprobase.Web.Models.Customer.Customer

@{ 
    Layout = null;
}
@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Add A Work Order"))

<div class="modal-body">

</div>