@using poolprobase.Web.Models.Common.Modals
@model poolprobase.Web.Models.Customer.WorkOrder

@{ 
    Layout = null;
}

@Html.Partial("~/Views/Shared/Modals/_Modalheader.cshtml", new ModalHeaderViewModel("Add Line Item"))

<!-- form for the user to put in the values of the line item -->
<div class="modal-body">

    <form name="AddLineItemForm" role="form" novalidate class="form-validation">
        <!-- so it's easy to grab the work orderid to be sent to the lineitems controller-->
        <input id="WorkOrderId" type="hidden" name="Id" value="@Model.WorkOrderID" />        
        <!-- description -->
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="descriptioninput" type="text" name="description" class="validate form-control" />
                        <label for="description" class="form-label">Description</label>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- quantity -->
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="quantityinput" type="text" name="quantity" class="validate form-control" />
                        <label for="quantity" class="form-label">Quantity</label>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- units -->
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="unitsinput" type="text" name="units" class="validate form-control" />
                        <label for="units" class="form-label">Units</label>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- unit cost -->
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="unitcostinput" type="text" name="unitcost" class="validate form-control" />
                        <label for="units" class="form-label">Unit Cost</label>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- total cost -->
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="totalcostinput" type="text" name="totalcost" class="validate form-control" readonly/>
                        <label for="totalcost" class="form-label"></label>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
<!-- save button -->
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

