@using poolprobase.Web.Models.Common.Modals
@model poolprobase.Web.Models.Customer.WorkOrder
@{ 
    Layout = null;
}

@Html.Partial("~/Views/Shared/Modals/_Modalheader.cshtml", new ModalHeaderViewModel("Add Line Item"))

<!-- form for the user to put in the values of the line item -->
<div class="modal-body">

    <!-- a form for the line item inputs -->
    <form name="AddLineItemForm" role="form" novalidate class="form-validation">

        <!-- so it's easy to grab the work orderid to be sent to the lineitems controller-->
        <input id="workorderidinput" type="hidden" name="Id" value="@Model.WorkOrderID" />  
        
        <!-- description -->
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="descriptioninput" type="text" name="description" required class="validate form-control" />
                        <label for="descriptioninput" class="form-label">Description</label>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- quantity -->
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="quantityinput" type="text" name="quantity" class="validate form-control" />
                        <label for="quantityinput" class="form-label">Quantity</label>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- units -->
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="unitsinput" type="text" name="units" class="validate form-control" />
                        <label for="unitsinput" class="form-label">Units</label>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- unit cost -->
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="unitcostinput" type="text" name="unitcost" class="validate form-control" />
                        <label for="unitsinput" class="form-label">Unit Cost</label>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- total cost -->
        <div class="row clearfix">
            <div class="col-sm-12">
                <div class="form-group form-float">
                    <div class="form-line">
                        <input id="totalcostinput" type="text" name="totalcost" class="validate form-control" readonly/>
                        <label for="totalcostinput" class="form-label"></label>
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>

<!-- save and cancel button -->
@Html.Partial("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")

<script src="~/view-resources/Views/WorkOrders/_AddLineItemModal.js" asp-append-version="true"></script>


