@using poolprobase.Web.Models.Common.Modals
@model poolprobase.Web.Models.Customer.WorkOrder

@{ 
    Layout = null;
}

@Html.Partial("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel("Create Work Order"))

<h4>WorkOrder</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="_CreateWorkOrderModal">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CustomerID" class="control-label"></label>
                <select asp-for="CustomerID" class ="form-control" asp-items="ViewBag.CustomerID"></select>
            </div>
            <div class="form-group">
                <label asp-for="ServiceTechID" class="control-label"></label>
                <select asp-for="ServiceTechID" class ="form-control" asp-items="ViewBag.ServiceTechID"></select>
            </div>
            <!--
            <div class="form-group">
                <label asp-for="WO_Status" class="control-label"></label>
                <select asp-for="WO_Status" class="form-control"></select>
                <span asp-validation-for="WO_Status" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
