@using poolprobase.Web.Models.Common.Modals
@model poolprobase.Web.Models.Customer.WorkOrder

@Html.Partial("~/Views/Shared/Modals/_Modalheader.cshtml", new ModalHeaderViewModel("Create Line Item"))


<h1>Man I really hope this works!</h1>
